[flake8]
exclude = 
    .git,
    .tx,
    .vscode,
    __pycache__,
    old,
    build,
    dist,
    tests,
    venv,
    .venv,
    docs,
    devscripts,
    setup.py
max-line-length = 104
extend-ignore = E203,
    F401,
