MANIFEST
*.pyc
*.mo
.piptools
new.po

dist/
build/
env/
*venv/
*venv.back/
typings/
mypy_report/

libpng-1.2.59*
libjpeg-turbo-2.1.1*
libcrypt.so.2

.idea
.vscode
.vs
*.pyproj
*.sln
.ionide
*.spec
*.egg-info
*.whl
yt-dlg/
*.log
*~
wxPython*.tar.gz

.doit.db.db

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part

# Jekyll
.jekyll-cache
_site/
Gemfile.lock

# SonarQube
.scannerwork/

# Advanced Installer
docs/yt-dlg-cache/
docs/yt-dlg.back.aip
