MANIFEST
*.pyc
*.mo

dist/
build/
env/
*venv/
*venv.back/
typings/
mypy_report/

.idea
.vscode
*.spec
*.egg-info
yt-dlg/

.doit.db.db

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
