altgraph==0.17
future==0.18.2
numpy==1.21.2
pefile==2021.9.3
pillow==8.3.2
polib==1.1.0
pyinstaller-hooks-contrib==2021.3
pyinstaller==4.0
pypubsub==4.0.3
pywin32-ctypes==0.2.0
six==1.16.0
wxpython==4.1.1

# The following packages are considered to be unsafe in a requirements file:
# setuptools
